
@import "../_variables";


.homeContainer {
    padding: 1rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .homeContent {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;

        .title {
            font-size: nth($fontSize, 9);
            font-weight: 500;
            margin-bottom: 2rem;
        }

        a {
            font-weight:500;
            font-size: nth($fontSize, 4);

        }
        
    }
}